/*#420a67*/
/*#eb005f*/
/*#a9a7ab*/
/*#ef8594*/
/*#4dd8e7*/

.App {
  
  
}

.container-app{
  display: flex;
  height: 100vh;
  flex-direction: column;
  place-content: center space-between;
  margin: 0 auto;
  /*width: 100vw;
  height: 100vh;*/
  
}


h1,h2,h3,h4,h5,h6,ul,ui {
  font-family: 'Bebas Neue', cursive;
}

p{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 6rem;
  margin: -30px 0px -30px 0px;
}
h2{
  font-size: 3rem;
}

.navbar-item li a{
  float: right;
  text-decoration: none;
  font-size: 20px;
  color: #420a67;
}

.navbar-item ul{
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-content: baseline;
  justify-content: space-around;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.content-header{
  
}
.header-block, .content-block{
  max-width: 1340px;
  align-items: center;
  margin: 0 auto;
}

.content-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-block{
  height: 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar-item{
  margin: 0;
  padding: 0;
  width: 400px;
}
.logo-css{
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
}
.image-logo{
  
}

.body-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body-content:after{
  content: "";
  display: table;
  clear: both;
}

.content-card{
  width: 60%;
  padding: 10px;
}
.show-card{
  width: 40%;
  text-align: center;
  padding: 10px;
  position: relative;
  
}
.c1{
  position: relative;
  margin: auto;
  background: white;
  width: 281px;
  height: 421px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 50%) 0px 8px 15px;
  
}
.c2{
  display: flex;
  width: 281px;
  height: 421px;
  border-radius: 20px;
}

.play-card{
  position: absolute;
    width: 280px;
    top:0;
    left:0;
    overflow:visible;
}

.line-card{
  
}

.c2::before {
  border-bottom: 3px solid #4dd8e7;
  border-left: 3px solid #4dd8e7;
  width: 0px;
  height: 0px;
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 0px 0px 0px 10px;
  margin: 0px 0px 21px 25px;
  box-sizing: border-box;
}

.c2::before:hover {

}

.c2::after {
  border-top: 3px solid #4dd8e7;
  border-right: 3px solid #4dd8e7;
  width: 0px;
  height: 0px;
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 0px 10px 0px 0px;
  margin: 25px 21px 0px 0px;
}

.slide-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgb(0 0 0 / 50%) 0px 8px 15px;
}

.footer-dev{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.btn-more-info{
  padding: 15px 35px 15px 35px;
    margin: 30px 0px 30px 0px;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    background-image: linear-gradient(to right, #420a67 , #eb005f);
    font-size: 16px;
}

.description-card{
  background-color: #ffffff70;
  border-radius: 20px;
  padding: 10px 10px 10px 0px;
}

h1{
  display: flex;
  background-image: linear-gradient(90deg, #420a67 , #eb005f);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  color: #eb005f;
}
.size-text{
  width: 370px;
}

.text-create{
  display: flex;
  flex-direction: row;
  align-self: center;
}
.h3-1 a{
  color: #eb005f;
  text-decoration: none;
}

.h3-2 a{
  color: #420a67;
  text-decoration: none;
}

.bg-svg{

}

.circle
  {
    border-radius: 50%;
    width: 200px;
    height: 200px; 
  }
  .bgOverlay{
    position: fixed;
    height: 43rem;
    width: 43rem;
    border-radius: 50%;
    right: -10rem;
    bottom: -6rem;
    background-image: linear-gradient(317deg, #420a67 , #eb005f);
    z-index: -99;
  }
  
  .overlayDisp{
    display:block;
  }

@media screen and (max-width: 600px) {
  .content-card{
    width: 100%;
    text-align: center;
  }
  .show-card{
    width: 100%;
    text-align: center;
  }
  .content-block{
    margin-left: 10px;
    margin-right: 10px;
  }
  .body-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-dev{
    text-align: center;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .navbar-item, .content-card p {
    display: none;
  }

  .btn-more-info{
      margin: 0px 0px 30px 0px;
      
  }

  h1{
    font-size: 5.6rem;
    margin: -20px 0px -20px 0px;
  }
  p{
    font-size: 12px;
  }
  .size-text{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .bgOverlay{
    display: none;
  }
}

.content-card {
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-duration: 800ms;
  -webkit-animation: 500ms ease 400ms normal forwards 1 fadeInOpacity;
  opacity:0;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    transform: translateX(-100px);
	}
	100% {
		opacity: 1;
    transform: translateX(0);
	}
}

.c2::before, .c2::after {
  opacity:0;
  animation-name: lineStretch;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 1500ms ease 4000ms normal forwards 1 lineStretch;
}

@keyframes lineStretch {
  from {
    opacity:1;
    width: 0px;
    height: 0px;
  }
  to {
    opacity:1;
    width: 200px;
    height: 288px;
  }
}
.c1{
  opacity: 0;
  animation-name: fadeInCard;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 400ms ease 1800ms normal forwards 1 fadeInCard;
}

@keyframes fadeInCard {
  from {
    opacity:0;
    transform: scale(130%);
  }
  to {
    opacity:1;
    transform: scale(100%);
  }
}

.card-pic1{
  opacity: 0;
  animation-name: slide-card-pic1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 1000ms ease 3300ms normal forwards 1 slide-card-pic1;

}
@keyframes slide-card-pic1 {
  0% {
		opacity: 0;
    transform: translatex(-110px) translatey(30px);
	}
	100% {
		opacity: 1;
    transform: translatex(0px) translatey(0px);
	}
}

.card-pic2{
  opacity: 0;
  animation-name: slide-card-pic2;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 1000ms ease 3300ms normal forwards 1 slide-card-pic2;

}
@keyframes slide-card-pic2 {
  0% {
		opacity: 1;
    transform: translatex(110px) translatey(-30px);
    
	}
	100% {
		opacity: 1;
    transform: translatex(0px) translatey(0px);
	}
}

.tage-front{
  opacity: 0;
  animation-name: tage-front-pic1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 500ms ease 2500ms normal forwards 1 tage-front-pic1;
}

@keyframes tage-front-pic1 {
  0% {
		opacity: 1;
    transform: scale(150%);
	}
	100% {
		opacity: 1;
    transform: scale(100%);
	}
}

.card-text{
  opacity: 0;
  animation-name: card-text-pic1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 300ms ease 5600ms normal forwards 1 card-text-pic1;
}

@keyframes card-text-pic1 {
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slide-page input{
  display: none;
}

.navigation-manual{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.manual-btn{
  display: flex;
  border: 3px solid #eb005f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}


.manual-btn:not(:lass-child){
  
}

.manual-btn:hover{
  background: #eb005f;
}

.manual-btn.active{
  background-color: #420a67;
}

.active.item-menu a:hover{
  background-color: #eb005f;
  color: #ffffff;
}
.active.item-menu a{
  background-color: #eb005f;
  color: #ffffff;
}
.item-menu a{
  padding: 2px 12px 1px 12px;
  border-radius: 5px;
}

.item-menu a:hover{
  background-color: #eb005f;
  color: #ffffff;
  animation-name: item-menu-hover;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation: 600ms ease 0ms normal forwards 1 item-menu-hover;
  transition: 0.6s;
}

.inactive{
  font-weight: 900;
  background-color: #eb005f;
}