/*#420a67*/
/*#eb005f*/
/*#a9a7ab*/
/*#ef8594*/
/*#4dd8e7*/

.App {
  
  
}

.container-app{
  display: flex;
  height: 100vh;
  flex-direction: column;
  place-content: center space-between;
  margin: 0 auto;
  /*width: 100vw;
  height: 100vh;*/
}


h1,h2,h3,h4,h5,h6,ul,ui {
  font-family: 'Bebas Neue', cursive;
}

p{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 7rem;
  margin: -30px 0px -30px 0px;
}
h2{
  font-size: 3rem;
}

.navbar-item li a{
  float: right;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #420a67;
}

.navbar-item ul{
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-content: baseline;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.content-header{
  background-color: rgb(233, 42, 147);
}
.header-block, .content-block{
  max-width: 1340px;
  align-items: center;
  margin: 0 auto;
}

.content-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-block{
  height: 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar-item{
  margin-right: 0;
  margin: 0;
  padding: 0;
}
.logo-css{
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
}
.image-logo{
  
}

.body-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 42, 233);
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body-content:after{
  content: "";
  display: table;
  clear: both;
}

.content-card{
  width: 50%;
  background-color: rgb(84, 24, 124);
 
}
.show-card{
  width: 50%;
  text-align: center;
  background-color: rgb(99, 94, 102);
}

.card-king{
  width: 250px;
}


.footer-dev{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background-color: rgb(30, 123, 210);
}

@media screen and (max-width: 600px) {
  .content-card{
    width: 100%;
    text-align: center;
  }
  .show-card{
    width: 100%;
    text-align: center;
  }
  .content-block{
    margin-left: 10px;
    margin-right: 10px;
  }
  .body-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-dev{
    text-align: center;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    background-color: chocolate;
  }
  
  .navbar-item, .content-card p {
    display: none;
  }

  h1{
    font-size: 5.5rem;
    margin: -20px 0px -20px 0px;
  }
}